@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="panel panel-default" style="margin-top: 12px;">
        <div class="panel-heading panel-heading-blue">Conceptual Overview</div>
        <div class="panel-body">
            <div ng-app="invoice1" ng-controller="InvoiceController as invoice">
                <div class="col-lg-6 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-blue">A first example: Data binding</div>
                        <div class="panel-body">
                            <div ng-init="qty=1;cost=2">
                                <div class="">
                                    <form class="warpper">
                                        <div class="form-group">
                                            <label>Quantity:</label>
                                            <input type="number" class="form-control" ng-model="qty" />
                                        </div>
                                        <div class="form-group">
                                            <label>Cost:</label>
                                            <input type="number" class="form-control" ng-model="cost" />
                                        </div>
                                        <div class="form-group">
                                            <label>Total:</label>
                                            <input type="number" class="form-control" value="{{qty*cost}}" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    angular.module("invoice1", [])
                        .controller("InvoiceController", function InvoiceController() {
                            this.myValue = true; // to show hide the dom element
                            this.qty = 1;
                            this.cost = 2;
                            this.inCurr = "EUR";
                            this.currencies = ["USD", "EUR", "CNY"];
                            this.usdToForeignRates = {
                                USD: 1,
                                EUR: 0.74,
                                CNY: 6.09
                            };

                            this.total = function total(outCurr) {
                                return this.convertCurrency(this.qty * this.cost, this.inCurr, outCurr);
                            };
                            this.convertCurrency = function convertCurrency(ammount, inCurr, outCurr) {
                                return ammount * this.usdToForeignRates[outCurr] / this.usdToForeignRates[inCurr];
                            };
                            this.pay = function pay() {
                                //this.myValue = true;
                                window.alert("Thanks !!!!!!!");
                            }
                        });
                </script>
                <div class="col-lg-6 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-blue">Adding UI logic: Controllers</div>
                        <div class="panel-body">
                            <div class="">
                                <form class="warpper">
                                    <div class="form-group">
                                        <label>Quantity:</label>
                                        <input type="number" class="form-control" ng-model="invoice.qty" />
                                    </div>
                                    <div class="form-group">
                                        <label>Cost:</label>
                                        {{invoice.inCurr}}
                                        <input type="number" class="form-control" ng-model="invoice.cost" />
                                    </div>
                                    <div class="form-group">
                                        <select ng-model="invoice.inCurr" class="form-control">
                                            <option ng-repeat="c in invoice.currencies">{{c}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-show="invoice.myValue">
                                        <label>Total:</label>
                                        <span ng-repeat="c in invoice.currencies">
                                            {{invoice.total(c) | currency:c}}
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success" ng-click="invoice.pay()">Pay</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>